$pokedex-blue: #2f83b5;
$pokedex-blue-dark: #225494;
$pokedex-red: #a02929;

$blue-lighter: #518F8F;
$blue-light: #2E7575;
$blue-base: #196060;
$blue-dark: #074848;
$blue-darker: #002E2E;

$border-radius: 5px;
$border-radius-big: 10px;

$font-color: rgb(26, 26, 26);