$pokedex-blue: #2f83b5;
$pokedex-blue-dark: #225494;
$pokedex-red: #a02929;

$blue-lighter: #518F8F;
$blue-light: #2E7575;
$blue-base: #196060;
$blue-dark: #074848;
$blue-darker: #002E2E;

$border-radius: 5px;
$border-radius-big: 10px;

$margin-global: 1rem;
$margin-global-medium: .5rem;
$margin-global-small: .4rem;

$padding-global: 1rem;
$padding-global-medium: .5rem;
$padding-global-small: .4rem;

$font-color: rgb(26, 26, 26);
$font-size: 16px;
$font-size-medium: 15px;
$font-size-small: 14px;

$input-background: #f7f7f7;
$input-border-color: #c3c3c3;
$input-border-width: 1px;